<!-- <script src="{{ "/lightbox/js/lightbox-plus-jquery.min.js" | relative_url }}"></script> -->

<!-- <script>
  lightbox.option({
    'resizeDuration': 0,
    'fadeDuration': 0,
    'imageFadeDuration': 0,
    'wrapAround': true
  })
</script> -->

<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="{{ "/magnific-popup/jquery.magnific-popup.js" | relative_url }}"></script>

<script>

  $(document).ready(function() {
  	$('.magnific-popup').magnificPopup({
  		type: 'image',
  		tLoading: 'Loading image #%curr%...',
  		mainClass: 'mfp-img-mobile',
  		gallery: {
  			enabled: true,
  			navigateByImgClick: true,
  			preload: [0,1] // Will preload 0 - before current, and 1 after the current image
  		},
  		image: {
  			tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
  			titleSrc: function(item) {
  				return 'title:'+item.el.attr('data-title');
  			}
  		}
  	});
  });

</script>
