<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <!-- <link rel="stylesheet" href="{{ "/lightbox/css/lightbox.min.css" | relative_url }}"> -->

  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="{{ "/magnific-popup/magnific-popup.css" | relative_url }}">
</head>
