section.frontpage-post {
  margin: 0 0 2em;
  padding: 0 0 0.5em;
  border-bottom: 1px solid #eee;

  h1 {font-size: 200%;}
  h2 {font-size: 160%; margin: 1em 0 0;}

  .post-content {padding-left: 1em;}
}

img.thumb {height: 100px;}

h1 {font-size: 200%;}
h2 {font-size: 175%; color: red; margin: 1em 0 0;}
h3 {font-size: 150%; color: blue; }
h4 {font-size: 125%; color: green; }
