---
layout: default
---

<ul>
  <li><a href="{{ "/" | relative_url }}">all</a></li>
  <li><a href="{{ "igsv.html" | relative_url }}">{% if page.cat-slug contains "igsv" %}<strong>{% endif %}project: IGSV{% if page.cat-slug contains "igsv" %}</strong>{% endif %}</a></li>
  <li><a href="{{ "surfsketch.html" | relative_url }}">{% if page.cat-slug contains "surfsketch" %}<strong>{% endif %}project: SurfSketch{% if page.cat-slug contains "surfsketch" %}</strong>{% endif %}</a></li>
</ul>

<hr /><br />

<!-- <h1>Project: <strong>{{ page.cat-name }}</strong></h1> -->

{%- for post in site.posts -%}
  {% if post.categories contains page.cat-slug %}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <section class="frontpage-post">
      <span class="post-meta">{{ post.date | date: date_format }} | Project: <strong>{{ post.category }}</strong></span>
      <h1><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
      <div class="post-content">
        {{ post.content }}
      </div>
    </section>
  {% endif %}
{%- endfor -%}
