---
layout: default
---

<ul>
  <li><a href="{{ "" | relative_url }}"><strong>all</strong></a></li>
  <li><a href="{{ "igsv.html" | relative_url }}">project: IGSV</a></li>
  <li><a href="{{ "surfsketch.html" | relative_url }}">project: SurfSketch</a></li>
</ul>

<hr /><br />

<ul>
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- for post in site.posts -%}
  <li>
    {{ post.date | date: date_format }} |
    {{ post.category }} |
    <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </li>
{%- endfor -%}
</ul>
